@model TodayFirst.Models.ViewHome
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <table  class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Phone</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Students)
                {
                    <tr> 
                        <td>@item.Name</td>
                        <td>@item.Surname</td>
                        <td><a href="tel:@item.Phone">@item.Phone</a></td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
    <div class="col-md-3"></div>
</div>