#flag{
    height: 80px;
    width: 400px;
    background-color: #e74c3c;
    border-top: 80px solid #2980b9;
    border-bottom: 80px solid #27ae60;
}
#square{
    width: 0; 
    height: 0;
    border-top: 100px solid #d3d01f;
    border-right: 100px solid #2ed31f;
    border-bottom: 100px solid #e74c3c;
    border-left: 100px solid #146fc5;
}
#triangle{
    border-top: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 100px solid transparent;
    border-left: 100px solid #e74c3c;
}