/* 
   Emil Ismayilzada
   Code Academy P402
   Front-End Final Project
   Started: 18Mar2018
   Finished: 30Mar2018
*/
@import url("https://fonts.googleapis.com/css?family=Changa:200,300,400,500,600,700,800|Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Ubuntu:300,300i,400,400i,500,500i,700,700i");
/* Fonts */
/* Colors */
.preloader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background-color: #ffffff;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("../img/icons/preloader.svg");
}

ul .list-inline {
  display: inline;
}

.btn-style-three {
  padding: 7px 32px;
  line-height: 26px;
  text-transform: uppercase;
  background: #2fc42b;
  color: #ffffff;
  font-size: 15px;
  font-weight: 700;
  border: 2px solid #2fc42b;
  font-family: 'Ubuntu', sans-serif;
  transition: all 0.3s ease;
}

.btn-style-three:hover {
  background: none;
  color: #2fc42b;
  border-color: #2fc42b;
  transition: all 0.3s ease;
}

.btn-style-four {
  padding: initial !important;
  border-radius: initial !important;
  position: absolute;
  right: 30px;
  top: 0px;
  height: 64px;
  width: 107px;
  line-height: 46px;
  text-align: center;
  display: block;
  font-size: 24px;
  color: #ffffff;
  background: #333333;
  font-weight: normal;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.btn-style-four:hover {
  background-color: #2fc42b;
}

.bold-text {
  font-size: 20px;
  line-height: 25px;
  color: #333333;
  font-weight: 300;
  font-family: "Changa", sans-serif;
  margin-bottom: 30px;
}

#back-to-top {
  font-size: 24px;
  text-transform: uppercase;
  line-height: 60px;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 60px;
  height: 60px;
  color: #ffffff;
  z-index: 91;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
  cursor: pointer;
  background: #0a0a0a;
}

#back-to-top:hover {
  background-color: #2fc42b;
}

#back-to-top .fa {
  display: inline-block;
  font-family: 'FontAwesome';
}

.text-muted {
  font-size: 15px;
  color: #aaaaaa;
  font-weight: 300;
  font-family: "Changa", sans-serif;
}

nav {
  width: 100%;
  font-family: "Ubuntu", sans-serif;
}

nav .navbar-toggler {
  display: inline-block;
  z-index: 20;
  border: 1px solid #2fc42b;
  float: none;
  margin: 0px 0px 0px 0px;
  border-radius: 0px;
  background: #2fc42b;
}

nav.navbar {
  position: fixed;
  left: 0px;
  top: 30px;
  z-index: 999;
  width: 100%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

nav.bg-black {
  position: fixed;
  top: 0;
  border-bottom: 1px solid #181818;
  padding: 0px 0px;
  z-index: 999;
  opacity: 1;
  visibility: visible;
  background-color: #252934;
}

nav li > a,
nav .nav-link > i {
  color: white !important;
}

nav .dropdown-menu {
  border-top: 2px solid #232323;
  border-radius: 0;
  margin-top: 0.5rem;
  padding: 0;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}

nav .dropdown-menu a {
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  text-decoration: none;
}

nav .dropdown-menu.navSearchBar {
  right: 0;
  left: initial;
  padding: 20px 10px;
  width: 300px;
}

nav .dropdown-menu.navSearchBar .searchInput {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0;
  border-radius: 0;
  width: 80%;
}

nav .dropdown-menu.navSearchBar .search {
  border: 1px solid #ced4da;
  border-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 0.26rem;
  border-radius: 0;
}

nav .dropdown-menu.navSearchBar .search:hover {
  background-color: white;
}

nav .dropdown-menu.navSearchBar .search:hover i {
  color: #2fc42b;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

nav .dropdown-menu.navSearchBar .search i {
  color: #495057;
  font-size: 12px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media (max-width: 767px) {
  nav .dropdown-menu.navSearchBar .search {
    padding: 0.26rem 0.8rem;
  }
}

nav .dropdown-menu.border-top-green {
  border-top: 2px solid #2fc42b;
}

nav .dropdown-menu .dropdown-item {
  display: block;
  width: 100%;
  border-top: 1px solid #e9ecef;
  padding: 12px 15px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

nav .dropdown-menu .dropdown-item:last-child {
  border-bottom: 0;
}

nav .dropdown-menu .dropdown-item:first-child {
  border-top: 0;
}

nav .dropdown-menu .dropdown-item:hover {
  background-color: #232323;
  color: white;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

nav .dropdown-menu .dropdown-item:hover a {
  color: white;
}

@media (min-width: 768px) {
  nav .dropdown-menu.subDropdown {
    position: absolute;
    top: 61%;
    left: 100%;
  }
}

nav .searchBtn .nav-link {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

nav .searchBtn:hover > .nav-link {
  color: #2fc42b !important;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

nav .dropdown-toggle.no-drop::after {
  display: none;
}

nav .dropdown-toggle::after {
  content: "\f078";
  font-family: FontAwesome;
  display: inline-block;
  width: 5px;
  height: 5px;
  vertical-align: .255em;
  border: 0;
}

@media (max-width: 767px) {
  nav .nav-item {
    border: 1px solid white;
    margin-bottom: 5px;
  }
  nav .nav-item .dropdown-toggle::after {
    content: "\f078";
    font-family: FontAwesome;
    position: absolute;
    right: 15px;
    color: white;
    border: 1px solid white;
    vertical-align: .255em;
    border: 0;
  }
}

.main-slider .tp-caption {
  font-family: 'Ubuntu', sans-serif;
  color: white;
}

.main-slider .tp-caption h4, .main-slider .tp-caption h2 {
  text-transform: capitalize;
}

.main-slider .tp-caption h2 {
  font-weight: 700;
  font-size: 70px;
}

.main-slider .tp-caption .text {
  font-weight: 300;
  font-size: 15px;
}

.main-slider .tp-caption .btn {
  padding: 15px 38px;
  font-weight: 700;
  text-transform: capitalize;
}

.main-slider .tp-caption .btn.btn-dark:hover {
  border-color: #2fc42b;
  background-color: #2fc42b;
}

.main-slider .tp-bannertimer {
  display: none;
}

section.bg-lightblue {
  background-color: #edf7ff;
}

section.bg-gray {
  background-color: #f5f5f5;
}

section .text-green {
  color: #2fc42b;
}

section .btn {
  padding: 15px 50px;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

section .btn.btn-dark:hover {
  border-color: #2fc42b;
  background-color: #2fc42b;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

section .content {
  padding: 140px 0px 110px;
}

section .content h1, section .content h2, section .content h3, section .content h4, section .content h5, section .content h6 {
  color: #222222;
  font-weight: 700;
  margin-bottom: 20px;
  font-family: 'Ubuntu', sans-serif;
}

section .content h2 {
  font-size: 35px;
}

section .content h3 {
  font-size: 30px;
}

section .content .text {
  color: #aaaaaa;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 30px;
  font-family: "Changa", sans-serif;
}

.subscription {
  font-family: 'Ubuntu', sans-serif;
}

.subscription .text {
  color: #aaaaaa;
}

.subscription input {
  color: #aaaaaa;
  font-size: 14px;
  font-weight: 300;
  font-family: 'Changa', sans-serif;
  border-radius: 5px;
  width: 100% !important;
  border: 1px solid transparent;
  background-color: #edf7ff;
  margin-bottom: 10px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.subscription input:focus {
  box-shadow: initial;
  border: 1px solid #2fc42b;
  background-color: #edf7ff;
  transition: all 0.3s ease;
}

.advantages .content .row {
  padding-top: 60px;
}

.advantages .content .advantages-element {
  margin-bottom: 35px;
}

.advantages .content .advantages-element .sakai-card {
  position: relative;
  display: block;
  text-align: center;
  padding: 40px 40px;
  background-color: #ffffff;
  border: initial;
  width: 100% !important;
  font-family: 'Ubuntu', sans-serif;
}

.advantages .content .advantages-element .sakai-card .more {
  color: inherit;
}

.advantages .content .advantages-element .sakai-card .more:hover {
  text-decoration: none;
  color: #2fc42b;
}

.advantages .content .advantages-element .sakai-card .refer {
  font-size: 15px;
  line-height: 25px;
  font-weight: 300;
  color: #aaa;
}

.advantages .content .advantages-element .sakai-card .refer:hover {
  text-decoration: none;
  color: #2fc42b;
}

.facts {
  background-image: url("../img/background/1.png");
}

.facts .row {
  padding: 70px 15px 70px;
}

.facts .row .sakai-card {
  position: relative;
  display: block;
  text-align: center;
  padding: 30px 20px;
  background-color: #333743;
  border: initial;
  width: 100% !important;
  font-family: 'Changa', sans-serif;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.facts .row .sakai-card .services-element {
  padding-left: 33px;
  padding-right: 33px;
}

.facts .row .sakai-card [class^="flaticon-"] {
  font-size: 70px;
}

.facts .row .sakai-card .flaticon-target-1 {
  color: #f84685;
}

.facts .row .sakai-card .flaticon-man {
  color: #6cea62;
}

.facts .row .sakai-card .flaticon-people {
  color: #f1e651;
}

.facts .row .sakai-card .flaticon-sports {
  color: #ff6c3a;
}

.facts .row .sakai-card .card-title {
  font-size: 25px;
  font-weight: 500;
  color: #edf7ff;
  margin-bottom: 5px;
}

.facts .row .sakai-card .count-text {
  font-weight: 700;
  color: #edf7ff;
  font-size: 50px;
  display: block;
  line-height: 1em;
}

.traffic {
  font-family: 'Ubuntu', sans-serif;
}

.traffic .row {
  padding: 70px 15px 70px;
}

.traffic h3 {
  color: #222222;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 20px;
}

.traffic .text {
  color: #333333;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 30px;
  font-family: "Changa", sans-serif;
}

.traffic .list-style-one {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.traffic .list-style-one li {
  padding-left: 15px;
  font-size: 15px;
  color: #aaaaaa;
  margin-bottom: 25px;
  font-weight: 300;
  font-family: "Changa", sans-serif;
}

.traffic .list-style-one li::before {
  position: absolute;
  font-family: "FontAwesome";
  content: '\f0da';
  left: 0px;
  color: #2fc42b;
  font-size: 15px;
}

.traffic .list-style-one.accordion li {
  color: #aaaaaa;
  box-shadow: 0px 4px 14px 0px #ededed;
  padding: 10px;
}

.traffic .list-style-one.accordion li .orderNum {
  color: #333333;
}

.traffic .list-style-one.accordion li.active {
  color: #333333;
}

.traffic .list-style-one.accordion li.active .orderNum {
  color: #2fc42b;
}

.traffic .list-style-one.accordion li.active::before {
  position: absolute;
  font-family: "FontAwesome";
  content: '\f0d7';
  right: 30px;
  left: initial;
  color: #2fc42b;
  font-size: 15px;
}

.traffic .list-style-one.accordion li .collapse {
  margin-bottom: 20px;
  line-height: 26px;
  font-size: 15px;
  color: #aaaaaa;
}

.traffic .list-style-one.accordion li::before {
  position: absolute;
  font-family: "FontAwesome";
  content: '\f0da';
  right: 30px;
  left: initial;
  color: #0a0a0a;
  font-size: 15px;
}

.gallery .row {
  margin-top: 50px;
}

.gallery .row .gallery-item {
  position: relative;
  margin-top: 10px;
}

.gallery .row .gallery-item img {
  width: 100%;
  height: auto;
}

.gallery .row .gallery-item .overlay {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 50%;
  margin: 4% 8%;
  border-radius: 5px;
  padding: 14px;
  width: 0;
  height: 91%;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-transition: all 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);
  -moz-transition: all 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);
  -ms-transition: all 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);
  -o-transition: all 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);
  transition: all 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);
}

.gallery .row .gallery-item .overlay .overlay-content {
  height: 100%;
}

.gallery .row .gallery-item .overlay .overlay-content a {
  visibility: hidden;
  opacity: 0;
  font-size: 20px;
  height: 50px;
  width: 50px;
  color: #222222;
  background-color: #ffffff;
  padding: 10px;
  margin: 0 5px;
  text-align: center;
  border-radius: 100%;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  transform: translateY(50px);
}

.gallery .row .gallery-item .overlay .overlay-content a:hover {
  color: #2fc42b;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.gallery .row .gallery-item:hover .overlay {
  left: 0;
  visibility: visible;
  width: 84%;
  transition: all 0.5s;
  -webkit-transition: all 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);
  -moz-transition: all 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);
  -ms-transition: all 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);
  -o-transition: all 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);
  transition: all 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);
}

.gallery .row .gallery-item:hover .overlay a {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  -webkit-transition-delay: 0.5s;
  -moz-transition-delay: 0.5s;
  -ms-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.gallery .row .gallery-item:hover .overlay a:last-child {
  -webkit-transition-delay: 0.8s;
  -moz-transition-delay: 0.8s;
  -ms-transition-delay: 0.8s;
  -o-transition-delay: 0.8s;
  transition-delay: 0.8s;
}

.gallery.gallery-full .row {
  margin-top: initial;
}

.gallery.gallery-full .row .gallery-item {
  position: relative;
  margin: initial;
  padding: initial;
}

.gallery.gallery-full .row .gallery-item .overlay {
  margin: 4% 4%;
}

.gallery.gallery-full .row .gallery-item:hover .overlay {
  width: 91%;
}

.services {
  font-family: 'Ubuntu', sans-serif;
}

.services .text {
  color: #aaaaaa;
}

.services .services-element {
  margin-bottom: 30px;
  padding-top: 40px;
  padding-left: 35px;
  position: relative;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.services .services-element .element-content .icon {
  position: absolute;
  left: 35px;
  top: 40px;
  width: 80px;
  height: 80px;
}

.services .services-element .element-content .text-area {
  padding-left: 95px;
}

.services .services-element .element-content .text-area h3 {
  display: inline;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 5px;
}

.services .services-element .element-content .text-area h3 a {
  color: #222222;
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.services .services-element .element-content .text-area h3 a:hover {
  color: #2fc42b;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.services .services-element .element-content .text-area .text {
  font-size: 15px;
  line-height: 25px;
  color: #aaaaaa;
  font-family: "Changa", sans-serif;
  font-weight: 300;
}

.services .services-element:hover {
  box-shadow: 5px 22px 21px rgba(234, 234, 234, 0.75);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.testimonials {
  background-image: url("../img/background/4.jpg");
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #2f3340;
  padding: 140px 0 130px;
}

.testimonials.style-two {
  background-color: #191a1e;
}

.testimonials .slider-container {
  position: relative;
  padding-right: 85px;
  padding-left: 170px;
  min-height: 135px;
  margin-bottom: 30px;
}

.testimonials .slider-container .testimonial-slider {
  position: relative;
  margin-bottom: 30px;
}

.testimonials .slider-container .testimonial-slider .slide-item {
  text-align: left;
}

.testimonials .slider-container .testimonial-slider .slide-item .fa {
  position: relative;
  font-size: 10px;
  vertical-align: top;
  top: 0px;
  color: #ffffff;
  font-style: italic;
  font-weight: 300;
  display: inline-block;
  margin-right: 10px;
}

.testimonials .slider-container .testimonial-slider .slide-item .text {
  position: relative;
  display: inline;
  font-size: 25px;
  line-height: 35px;
  font-family: "Changa", sans-serif;
  font-weight: 200;
  color: #ffffff;
  font-style: italic;
}

.testimonials .slider-container .testimonial-slider .slide-item .info {
  margin-top: 45px;
  position: relative;
  display: block;
  margin-bottom: 8px;
}

.testimonials .slider-container .testimonial-slider .slide-item .info .name {
  font-size: 25px;
  color: #ffffff;
  font-family: "Changa", sans-serif;
  font-weight: 500;
  display: block;
  margin-bottom: 8px;
}

.testimonials .slider-container .testimonial-slider .slide-item .info .position {
  font-size: 15px;
  color: #2fc42b;
  font-family: "Changa", sans-serif;
  font-weight: 300;
}

.testimonials .slider-container .testimonial-thumbnail {
  position: absolute;
  left: 0;
  top: 0;
  max-width: 126px;
}

.testimonials .slider-container .testimonial-thumbnail .thumbnail {
  position: relative;
  float: left;
  width: 58px;
  margin-right: 5px;
  margin-bottom: 5px;
  background-color: #444853;
  transition: all 300ms ease;
}

.testimonials .slider-container .testimonial-thumbnail .thumbnail img {
  width: 100%;
}

.testimonials .slider-container .testimonial-thumbnail .thumbnail.active {
  background-color: #ffffff;
  transform: scale(1.1);
}

.pricing {
  font-family: 'Ubuntu', sans-serif;
}

.pricing h2 {
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 20px;
}

.pricing .pricing-table {
  padding-right: 40px;
  padding-left: 40px;
  margin-bottom: 40px;
}

.pricing .pricing-table .table-box {
  background-color: #f8f8f8;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.pricing .pricing-table .table-box .table-image {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px 20px;
  text-align: center;
  font-weight: 700;
  font-family: "Ubuntu",sans-serif;
}

.pricing .pricing-table .table-box .table-image .tariff-name {
  margin: 0;
  position: relative;
  font-size: 30px;
  color: #2fc42b;
}

.pricing .pricing-table .table-box .table-image .tariff-price {
  margin: 0;
  font-size: 65px;
  color: #ffffff;
}

.pricing .pricing-table .table-box .table-image .tariff-price span {
  font-size: 40px;
}

.pricing .pricing-table .table-box .table-content {
  padding: 40px 10px;
  text-align: center;
}

.pricing .pricing-table .table-box .table-content ul li {
  margin-bottom: 30px;
  position: relative;
  font-size: 15px;
  color: #777777;
  font-family: "Changa", sans-serif;
  font-weight: 300;
  margin-bottom: 30px;
}

.pricing .pricing-table .table-box .table-content .btn-style-two {
  text-transform: uppercase;
  color: #aaaaaa;
  border: 1.5px solid #aaaaaa;
  letter-spacing: 1px;
  font-size: 15px;
  font-weight: 700;
  padding: 10px 28px;
  background-color: #F8F8F8;
}

.pricing .pricing-table .table-box:hover {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
  transform: scale(1.01);
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.pricing .pricing-table .table-box:hover .btn-style-two {
  background-color: #2f3340;
  border-color: #2f3340;
  color: white;
}

.pricing .pricing-table-two .table-box {
  background-color: white;
  border: 1px solid #ececec;
}

.pricing .pricing-table-two .table-box .tariff-name {
  font-size: 20px !important;
  color: #aaaaaa !important;
}

.pricing .pricing-table-two .table-box .tariff-price {
  color: #333333 !important;
  font-weight: 700 !important;
  text-transform: uppercase !important;
}

.pricing .pricing-table-two .table-box .tariff-price span {
  font-size: 40px !important;
}

.clients {
  background-color: #232732;
}

.clients .clients-karusel {
  padding: 25px 0px;
  position: relative;
  text-align: center;
  border-right: 1px solid #2f3340;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.clients .clients-karusel div {
  display: inline;
}

.clients .clients-karusel div img {
  max-width: 18%;
  width: auto;
  display: inline-block;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.news {
  font-family: 'Ubuntu', sans-serif;
}

.news .row {
  margin-top: 40px;
}

.news .row .news-item {
  margin-bottom: 30px;
}

.news .row .news-item .news-content {
  box-shadow: 0 3px 30px rgba(230, 230, 230, 0.75);
}

.news .row .news-item .news-content .news-header {
  position: relative;
  padding: 40px 34px 40px 105px;
  background-color: #ffffff;
}

.news .row .news-item .news-content .news-header .date {
  position: absolute;
  max-width: 35px;
  left: 35px;
  top: 40px;
  text-align: center;
}

.news .row .news-item .news-content .news-header .date h3 {
  color: #2fc42b;
  font-weight: 300;
  font-size: 30px;
  font-family: "Ubuntu", sans-serif;
  margin: 0;
}

.news .row .news-item .news-content .news-header .date span {
  display: inline-block;
  font-size: 15px;
  line-height: 17px;
  color: #aaaaaa;
  font-weight: 500;
  font-family: "Ubuntu", sans-serif;
}

.news .row .news-item .news-content .news-header .info {
  position: relative;
  text-align: left;
}

.news .row .news-item .news-content .news-header .info .tags {
  margin-bottom: 0px;
  line-height: 22px;
  font-size: 12px;
  color: #aaaaaa;
  font-weight: 300;
  font-family: "Ubuntu", sans-serif;
}

.news .row .news-item .news-content .news-header .info h3 {
  position: relative;
  font-size: 20px;
  line-height: 25px;
  font-weight: 500;
}

.news .row .news-item .news-content .news-header .info h3 a {
  color: #333333;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.news .row .news-item .news-content .news-header .info h3 a:hover {
  color: #2fc42b;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.news .row .news-item .news-content .news-header .info::before {
  position: absolute;
  left: -18px;
  top: 0;
  height: 100%;
  width: 2px;
  background-color: #d9d9d9;
  content: "";
}

.page-title {
  background-color: #252934;
  padding: 280px 0px 140px;
}

.page-title .header-up {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  padding: 85px 0px 60px;
  text-align: center;
}

.page-title .header-up h1 {
  position: relative;
  font-size: 70px;
  line-height: 1em;
  font-weight: 900;
  color: #ffffff;
  margin-bottom: 15px;
}

.page-title .header-up .bread-crumb {
  position: relative;
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
  margin-right: 7px;
  padding-right: 7px;
  text-transform: uppercase;
  list-style: none;
  cursor: default;
  display: inline-block;
  font-family: "Ubuntu", sans-serif;
}

.page-title .header-up .bread-crumb li {
  color: #ffffff;
  display: inline;
}

.page-title .header-up .bread-crumb li a {
  color: #ffffff;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.page-title .header-up .bread-crumb li a:hover {
  color: #2fc42b;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

footer {
  background-color: #252934;
}

footer .footer-up {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  padding: 85px 0px 60px;
}

footer .footer-up .footer-logo {
  margin-bottom: 25px;
}

footer .footer-up .text {
  position: relative;
  color: #bfbfbf;
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 15px;
  font-family: "Changa", sans-serif;
}

footer .footer-up ul li {
  position: relative;
  color: #bfbfbf;
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 15px;
  font-family: "Changa", sans-serif;
}

footer .footer-up ul li a {
  position: relative;
  font-size: 15px;
  line-height: 32px;
  color: #bfbfbf;
  font-weight: 400;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

footer .footer-up ul li a:hover {
  text-decoration: none;
  color: #2fc42b;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

footer .footer-up .contact-info li {
  font-size: 15px;
  line-height: 32px;
  color: #ffffff;
  font-weight: 500;
  font-family: "Ubuntu", sans-serif;
}

footer .footer-up h2 {
  position: relative;
  color: #ffffff;
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 30px;
  text-transform: uppercase;
}

footer .footer-up .newsletter-form {
  position: relative;
}

footer .footer-up .newsletter-form input {
  position: relative;
  display: block;
  width: 100%;
  line-height: 30px;
  padding: 7px 20px;
  padding-right: 115px;
  height: 44px;
  font-size: 15px;
  color: #61646a;
  background-color: #282d38;
  border: 1px solid transparent;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

footer .footer-up .newsletter-form input:focus {
  box-shadow: initial;
  border-color: #2fc42b;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

footer .footer-up .newsletter-form button {
  position: absolute;
  right: 0;
  top: 0;
}

footer .footer-up .social-icon-list li {
  margin-right: 10px;
}

footer .footer-up .social-icon-list li span {
  color: #4b515f;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

footer .footer-up .social-icon-list li span:hover {
  color: #2fc42b;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

footer .footer-down {
  position: relative;
  text-align: center;
  background-color: #1c1f27;
  padding: 25px 0;
}

footer .footer-down .copyright {
  position: relative;
  color: #aaaaaa;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  line-height: 25px;
}

.contact .contact-element {
  background-color: #f9f9f9;
  padding: 35px 15px 35px;
  font-family: 'Ubuntu', sans-serif;
}

.contact .contact-element .icon {
  color: #2fc42b;
  font-size: 42px;
  display: block;
  margin-bottom: 5px;
}

.contact .contact-element h5 {
  font-size: 16px;
  line-height: 24px;
  color: #333333;
  font-weight: 500;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.contact .contact-element span {
  display: block;
  font-size: 15px;
  line-height: 24px;
  color: #89898a;
  font-family: "Changa", sans-serif;
  font-weight: 300;
}

.map .map-canvas {
  height: 540px;
}

.contact-form .btn-style-one {
  position: relative;
  padding: 15px 38px;
  line-height: 24px;
  text-transform: uppercase;
  background: #2f3340;
  color: #ffffff;
  border: 2px solid #2f3340;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 1px;
  font-family: 'Ubuntu', sans-serif;
  border-radius: 5px;
}

.contact-form .btn-style-one:hover {
  background: #2fc42b;
  color: #ffffff;
  border-color: #2fc42b;
}

.contact-form .form-group input,
.contact-form .form-group select,
.contact-form .form-group textarea {
  position: relative;
  display: block;
  width: 100%;
  height: 35px;
  padding: 5px 0px 10px;
  line-height: 20px;
  font-weight: 300;
  color: #232323;
  font-size: 15px;
  resize: none;
  background-color: #ffffff;
  border: initial;
  border-bottom: 1px solid #d7d7d7;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.contact-form .form-group input:focus,
.contact-form .form-group select:focus,
.contact-form .form-group textarea:focus {
  border-bottom: 1px solid #2fc42b;
}

.contact-form .form-group textarea {
  height: 120px;
}

.contact-form .form-group input.error,
.contact-form .form-group textarea.error {
  border-color: #ff0000;
}

.contact-form .form-group label.error {
  color: #ff0000;
  font-size: 15px;
  text-transform: capitalize;
  padding-top: 5px;
  line-height: 24px;
  font-weight: 400;
}

.call-to-action .text-weight-normal {
  font-weight: normal;
}

.call-to-action .btn {
  padding: 15px 50px !important;
}

.case-single .row {
  margin-bottom: 50px;
}

.case-single .row .detail ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.case-single .row .detail ul li {
  position: relative;
  font-size: 15px;
  line-height: 30px;
  color: #aaaaaa;
  background: #ffffff;
  width: 100%;
  font-weight: 300;
  font-family: "Changa", sans-serif;
}

.case-single .row .detail ul li span {
  position: relative;
  width: 160px;
  font-weight: 300;
  color: #333333;
  display: inline-block;
}

.case-single .row .detail ul li span::after {
  position: absolute;
  right: 40px;
  top: 0;
  font-size: 15px;
  line-height: 30px;
  content: ":";
  color: #333333;
}

.case-single .row .detail-greenCheck ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.case-single .row .detail-greenCheck ul li {
  position: relative;
  font-size: 17px;
  line-height: 30px;
  color: #333333;
  padding-left: 27px;
  font-weight: 300;
  font-family: "Changa", sans-serif;
}

.case-single .row .detail-greenCheck ul li::before {
  position: absolute;
  content: "\f00c";
  left: 0px;
  top: 0px;
  color: #2fc42b;
  font-size: 17px;
  line-height: 30px;
  font-family: "FontAwesome";
}

.case-single .text {
  font-size: 15px !important;
}

.searchBox {
  margin-bottom: 40px;
}

.searchBox .form-group input {
  position: relative;
  background: #f4f4f4;
  color: #222222;
  display: block;
  font-size: 15px;
  line-height: 40px;
  font-weight: 300;
  width: 100%;
  height: 65px;
  border: 1px solid #f4f4f4;
  padding: 10px 120px 10px 30px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-family: 'Poppins', sans-serif;
}

.searchBox .form-group input:focus {
  border-color: #2fc42b;
}

.searchBox:focus button {
  background-color: #2fc42b;
}

.category,
.recent-news,
.recent-tags {
  margin-bottom: 40px;
}

.category .category-title h2,
.category .recent-title h2,
.recent-news .category-title h2,
.recent-news .recent-title h2,
.recent-tags .category-title h2,
.recent-tags .recent-title h2 {
  font-size: 20px;
  font-weight: 500;
}

.category .category-list,
.category .recent-list,
.recent-news .category-list,
.recent-news .recent-list,
.recent-tags .category-list,
.recent-tags .recent-list {
  position: relative;
  padding: 20px 40px 20px;
  background-color: #f4f4f4;
}

.category .category-list .list-items,
.category .recent-list .list-items,
.recent-news .category-list .list-items,
.recent-news .recent-list .list-items,
.recent-tags .category-list .list-items,
.recent-tags .recent-list .list-items {
  position: relative;
  margin-bottom: 20px;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.category .category-list .list-items li,
.category .recent-list .list-items li,
.recent-news .category-list .list-items li,
.recent-news .recent-list .list-items li,
.recent-tags .category-list .list-items li,
.recent-tags .recent-list .list-items li {
  position: relative;
  font-size: 14px;
  line-height: 29px;
  font-weight: 400;
  padding: 10px 0;
  border-bottom: 1px solid #e2e2e2;
}

.category .category-list .list-items li a,
.category .recent-list .list-items li a,
.recent-news .category-list .list-items li a,
.recent-news .recent-list .list-items li a,
.recent-tags .category-list .list-items li a,
.recent-tags .recent-list .list-items li a {
  position: relative;
  display: block;
  color: #777777;
  font-family: "Changa", sans-serif;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.category .category-list .list-items li a:hover,
.category .recent-list .list-items li a:hover,
.recent-news .category-list .list-items li a:hover,
.recent-news .recent-list .list-items li a:hover,
.recent-tags .category-list .list-items li a:hover,
.recent-tags .recent-list .list-items li a:hover {
  color: #2fc42b;
  text-decoration: none;
}

.category .category-list .list-items li span,
.category .recent-list .list-items li span,
.recent-news .category-list .list-items li span,
.recent-news .recent-list .list-items li span,
.recent-tags .category-list .list-items li span,
.recent-tags .recent-list .list-items li span {
  float: right;
  margin-right: 40px;
  color: #333333;
  font-weight: 400;
}

.category .category-list .list-items li p,
.category .recent-list .list-items li p,
.recent-news .category-list .list-items li p,
.recent-news .recent-list .list-items li p,
.recent-tags .category-list .list-items li p,
.recent-tags .recent-list .list-items li p {
  color: #333333;
  font-weight: 400;
}

.category .recent-list li a,
.recent-news .recent-list li a,
.recent-tags .recent-list li a {
  color: #333333 !important;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.category .recent-list li a:hover,
.recent-news .recent-list li a:hover,
.recent-tags .recent-list li a:hover {
  color: #2fc42b !important;
  text-decoration: none;
}

.category .recent-list li p,
.recent-news .recent-list li p,
.recent-tags .recent-list li p {
  color: #777777 !important;
}

.recent-tags .recent-list {
  height: 210px;
}

.recent-tags .recent-list::before {
  display: table;
  content: " ";
}

.recent-tags .recent-list a {
  position: relative;
  float: left;
  line-height: 33px;
  padding: 10px 15px 10px;
  margin: 0px 4px 4px 0px;
  color: #777777 !important;
  font-size: 14px;
  min-width: 115px;
  text-align: center;
  font-weight: 300;
  background: #ffffff;
  text-transform: capitalize;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.recent-tags .recent-list a:hover {
  color: white !important;
  background-color: #2fc42b !important;
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */