/* 
   Emil Ismayilzada
   Code Academy P402
   Front-End Final Project
   Started: 18Mar2018
*/

@import url('https://fonts.googleapis.com/css?family=Changa:200,300,400,500,600,700,800|Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Ubuntu:300,300i,400,400i,500,500i,700,700i');
/* Fonts */
$font-1: 'Ubuntu', sans-serif;
$font-2: 'Poppins', sans-serif;
$font-3: 'Changa', sans-serif;

/* Colors */
$theme-color: #2fc42b;


@import 'nav';
@import 'slider';
@import 'sections/default';
@import 'sections/subscription';
@import 'sections/services';

.facts{
    background-image: url('../img/background/1.png');
    .row{
        padding: 70px 15px 70px;
    
    .sakai-card{
        position: relative;
        display: block;
        text-align: center;
        padding: 30px 20px;
        background-color: #333743;
        border: initial;
        width: 100% !important;
        font-family: 'Changa', sans-serif;
        transition: all 500ms ease;
        .services-element{
            padding-left: 33px;
            padding-right: 33px;
        }
        [class^="flaticon-"]{
            font-size: 70px;            
        }
        .flaticon-target-1{
            color: #f84685;
        }
        .flaticon-man{
            color: #6cea62;
        }      
        .flaticon-people{
            color: #f1e651;
        }  
        .flaticon-sports{
            color: #ff6c3a;
        }
        .card-title{
            font-size: 25px;
            font-weight: 500;
            color: #edf7ff;
            margin-bottom: 5px;
        }
        .count-text{
            font-weight: 700;
            color: #edf7ff;
            font-size: 50px;
            display: block;
            line-height: 1em;
        }
    }
}
}