@import url('https://fonts.googleapis.com/css?family=Lato');
.mainWrapper{
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: center;
}
.inputguide{
    padding: 10px;  
    background: wheat;  
    box-shadow: 1px 1px 12px wheat;
}