body{
    margin: 0;
}
.mainWrapper{
    margin: 0 auto;
}
.imgBoard{
    margin-left: 25%;
    margin-top: 10%;
    width: 700px;
    height: 100%;
    position: relative;
}
.imgBoard img {
    width: 100%;
    height: auto;
}
.draw{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 15px;
    height: 15px;
    background: black;
    border-radius: 15px;
}