section{
    &.bg-lightblue{
        background-color: #edf7ff;
    }
    &.bg-gray{
        background-color: #f5f5f5;
    }
    .text-green{
        color: $theme-color;
    }
    .btn{
        padding: 15px 50px;
        font-weight: 700;
        text-transform: uppercase;            
        @include transition(all 0.5s); 
        &.btn-dark:hover{
            border-color: $theme-color;
            background-color: $theme-color;
            @include transition(all 0.5s);                
        }
    }
    .content{
        padding: 140px 0px 110px;
        h1,h2,h3,h4,h5,h6{
            color: #222222;
            font-weight: 700;
            margin-bottom: 20px; 
            font-family: 'Ubuntu', sans-serif;           
        }
        h2{
            font-size: 35px;
        }
        h3{
            font-size: 30px;
        }
        .text{        
            color: #aaaaaa;
            font-size: 18px;
            font-weight: 300;
            margin-bottom: 30px;
            font-family: "Changa", sans-serif;
        }
    }
    
}