.gallery{
    .row{
    margin-top: 50px;
    .gallery-item{        
        position: relative;
        margin-top: 10px;
        img{
            width: 100%;
            height: auto;
        }
        .overlay{
            visibility: hidden;
            position: absolute;
            top: 0;
            left: 50%;           
            margin: 4% 8%;
            border-radius: 5px;
            padding: 14px;
            width: 0;
            height: 91%;
            background-color: rgba(0, 0, 0, 0.7);
            @include transition(all 0.5s cubic-bezier(0.470, 0.000, 0.745, 0.715)); 
            .overlay-content{
                height: 100%;
                a{  
                    visibility: hidden;  
                    opacity: 0;   
                    font-size: 20px;
                    height: 50px;
                    width: 50px;
                    color: #222222;
                    background-color: #ffffff;
                    padding: 10px;
                    margin: 0 5px;
                    text-align: center;
                    border-radius: 100%;
                    @include transition(all 0.4s ease); 
                    transform: translateY(50px);                    
                    &:hover{
                        color: $theme-color;
                        @include transition(all 0.4s ease); 
                    }
                }                
            }
        }
        &:hover{
            .overlay{     
                left: 0;
                visibility: visible;           
                width: 84%;
                transition: all 0.5s ;
                @include transition(all 0.5s cubic-bezier(0.470, 0.000, 0.745, 0.715)); 
                a{
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(0);
                    @include transition-delay(0.5s); 
                    &:last-child{
                        @include transition-delay(0.8s); 
                    }
                }
            }
        }
    }
}
&.gallery-full{
    .row{
        margin-top: initial;
        .gallery-item{
            position: relative;
            margin: initial;
            padding: initial;
            .overlay{
                margin: 4% 4%;
            }
        &:hover{
            .overlay{
                width: 91%;
            }
        }
        }
    }
}
}