section{
    &.bg-lightblue{
        background-color: #edf7ff;
    }
    .content{
        padding: 140px 0px 110px;
        h1,h2,h3,h4,h5,h6{
            color: #222222;
            font-weight: 700;            
        }
        h2{
            font-size: 35px;
        }
        h3{
            font-size: 30px;
        }
    }
}