body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
.accordion{
    padding: 20px;
}
.accordion-tabs{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 220px;
    background: #dc5f47;
    color: rgba(255, 255, 255, 0.9);
    font-size: 14px;
}
.accordion-items{
    position: relative;
    padding: 10px;
    list-style: none;
}
.copyright{
    list-style: none; 
    font-weight: 300;
    font-size: 12px;   
}
.copyright a{
    color: rgba(255, 255, 255, 0.9);
    text-decoration: none;
}
.accordion-items ul{
    font-weight: 300;
    display: none;
    opacity: 0;
    background: #c04933;
    margin-left: -50px;
    margin-right: -10px;
    border-top: 2px solid #b64d38;
    border-bottom: 2px solid #b64d38;
}
.accordion-items ul li{    
    list-style: disc;
    padding: 10px;
    height: 10px;
    margin-left: 26px;
}
.accordion-items .show,
.show{
    display: block;
    opacity: 1;
}